<!DOCTYPE html>
<html>
  <head>
   <!-- Add Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <!-- Add jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <!-- Add Bootstrap JS -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Document Similarity Calculation</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel = "stylesheet" href = "/static/css/main.css">
    <link rel = "stylesheet" href = "/static/css/about.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
    </style>
</head>


  <body>
    <header id = "header"> 
      <nav class ="menu">
          <ul>
              <li><a href = {{url_for('home')}} ><b>Home</b></a></li>
              <li><a href = {{url_for('about')}} ><b>About</b></a></li>
              <li><a href = {{url_for('introduce')}}  ><b>introduce</b></a></li>
              <li><a href = {{url_for('contact')}}  ><b>Contact</b></a></li>
              <li><a href = {{url_for('code')}}  ><b>Code</b></a></li>
          </ul>
      </nav>
    </header>
    <div class="container">
      <br></br>
      <br></br>
      <br></br>
      <br></br>
      <h1 class="text-center my-5">CSV 파일을 업로드 해주세요</h1>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form action="/code" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <label for="fire1">Fire1 CSV:</label>
              <input type="file" name="fire1" id="fire1" accept=".csv" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="fire2">Fire2 CSV:</label>
              <input type="file" name="fire2" id="fire2" accept=".csv" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="similarityMethod">Select Similarity Method:</label>
              <select name="similarityMethod" id="similarityMethod" class="form-control">
                <option value="cosine">Cosine Similarity</option>
                <option value="jaccard">Jaccard Similarity</option>
                <option value="manhattan">Manhattan Distance</option>
                <option value="euclidean">Euclidean Distance</option>
              </select>
            </div>
            <input type="submit" value="Calculate Similarity" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
